# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
- numpy
- matplotlib
- pandas

|Data Science Tools|
--------------------
|Jupyter|
|Anaconda|
|VSCode|

### Below are a few examples of evaluating arithmetic expression in Python

In [2]:
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by dividing by 60 
200 / 60

3.3333333333333335

Objectives: 
* Create a Jupyter Notebook
* Create a cod cell to convert minutes to hours
* Create a code cell to multiply and add numbers
* Create a markdown cell introducing arithmetic expression examples

## Author
Justin